<!DOCTYPE html>
<html lang="en" ng-app="citiesApp">
<head>
    <meta charset="UTF-8">
    <title>Search for a city</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="CitiesCtrl">
<div class="container">
    <div class="page-header">
        <h1>Recherche de villes</h1>
    </div>

    <label for="city">
        <input ng-keyup="changed(city)" id="city" name="city" ng-model="city">
    </label>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ville in cities">
            <td>{{ville.name}}</td>
            <td>{{ville.latitude}}</td>
            <td>{{ville.longitude}}</td>
            <td>{{ville.score}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>